{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ titreBlog }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt dolorem dolorum sequi sunt debitis quasi. Illum eos magnam consectetur laborum placeat ex aspernatur ratione. Maiores dignissimos ea cumque reprehenderit impedit fuga esse aut sequi, reiciendis tempore veritatis magni debitis.</p>
    <p>Quis praesentium rem alias nesciunt. Error repudiandae suscipit dignissimos sint consequatur blanditiis quibusdam voluptatibus porro dolor ratione, similique repellendus nostrum ducimus quod repellat voluptatem mollitia inventore ex facere laboriosam. Esse error alias quia eveniet. Harum modi dicta facere quia pariatur?</p>
{% endblock %}

